.cart-header{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart-header img{
    width: 7%;
}
.cart-header p{
    margin-top: 1.5%;
    margin-left: 1%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.cart-body{
    text-align: center;
}
.cart-body button{
    font-weight: bold;
    text-transform: uppercase;
}